body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 24px;
}

.current-weather-container {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  font-size: 2rem;
}

.left-container,
.right-container {
  background-color: rgba(0, 0, 0, 0.431);
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 10px;
}

.search-container {
  height: fit-content;
  display: flex;
  background-color: rgba(0, 0, 0, 0.431);
  gap: 0.3rem;
  padding: 0.6rem;
  border-radius: 20px;
  margin-top: 3rem;
}

button,
input,
option {
  font-family: inherit;
  box-sizing: border-box;
}

.search-container button {
  border-radius: 25px;
  background-color: white;
  border: none;
  padding: 0 10px;
  cursor: pointer;
}

#search {
  font-size: 1.5rem;
  border: none;
  border-radius: 15px;
  background-color: white;
  padding: 0.4rem;
}

#unit {
  height: 17px;
  align-self: center;
  border-radius: 8px;
}

#unit:focus,
#search:focus {
  outline: none;
}

::placeholder {
  color: rgba(123, 123, 123, 0.736);
}

label {
  display: none;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.detail div {
  color: rgb(238, 238, 238);
  align-self: center;
  margin-top: 0.5rem;
}

.desc {
  font-size: inherit;
  margin: 0;
  border-bottom: 1px solid white;
  color: white;
}
