html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html,
body {
  overflow: hidden;
}

.current-weather-container {
  height: 65%;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  font-size: 2rem;
}

.left-container,
.right-container {
  background-color: rgba(0, 0, 0, 0.431);
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  height: fit-content;
}

.search-container {
  height: fit-content;
  display: flex;
  background-color: rgba(0, 0, 0, 0.431);
  gap: 0.3rem;
  padding: 0.6rem;
  border-radius: 20px;
  margin-top: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.error {
  background-color: red;
  width: fit-content;
  border-radius: 10px;
}

button,
input,
option {
  font-family: inherit;
  box-sizing: border-box;
}

.submit-button {
  border-radius: 25px;
  background-color: white;
  border: none;
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.submit-button:hover {
  transform: scale(1.1);
}

#search {
  font-size: 1.5rem;
  height: 32px;
  border: none;
  border-radius: 15px;
  background-color: white;
  padding: 0.4rem;
}

#search:focus {
  background-color: rgb(212, 212, 212);
}

#unit {
  height: 20px;
  align-self: center;
  border-radius: 8px;
  background-color: white;
}

#unit:focus,
#search:focus {
  outline: none;
}

::placeholder {
  color: rgba(123, 123, 123, 0.736);
}

label {
  display: none;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.detail div {
  color: rgb(238, 238, 238);
  align-self: center;
  margin-top: 0.5rem;
}

.desc {
  font-size: inherit;
  margin: 0;
  border-bottom: 1px solid white;
  color: white;
}

.forecast-container {
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 100%;
  gap: 1rem;
  height: fit-content;
  padding-bottom: 1.2rem;
}

.forecast-detail {
  background-color: rgba(0, 0, 0, 0.431);
  padding: 1.3rem;
  border-radius: 14px;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  gap: 0.2rem;
}

.forecast-detail img {
  width: 50px;
  height: auto;
}

.forecast-detail div:last-child {
  font-size: 1.5rem;
}
